@media (max-width: 572px) {
  header .navbar {
    padding: 10px !important;
  }
}

@media (max-width: 296px) {
    .navbar-brand {
        font-size: .8rem !important; 
    }

    .navbar-toggler {
        width: 42px;
        height: 30px;
    }

    .navbar-toggler-icon{
        width: 15px !important;
        height: 15px !important;
        vertical-align: baseline !important;
    }

    .navbar-nav {
        font-size: .8rem !important;
    }

    .navbar-collapse .btn {
        font-size: .8rem !important;
    }
}


@media (max-width: 992px) {/* Smooth collapse animation */
    .navbar-collapse {
    transition: height 0.3s ease, opacity 0.3s ease;
    overflow: hidden;
    }

    .collapse:not(.show) {
    display: block;         /* ensures height can animate */
    height: 0;              /* start closed */
    opacity: 0;
    }

    .collapse.show {
    height: auto;           /* open naturally */
    opacity: 1;
    }
}
